{% extends 'reservation/base.html' %}



{% block title %}
Customers
   {% endblock title %}

{% block content %}


{% verbatim %}
      
      
<div ng-controller="CustomersController">
   <h1> List from angular</h1>

   <ul>

      <div ng-repeat="customer in customers">

         <li>
            {{customer.name}}
         </li>

      </div>

   </ul>
<input type="text" ng-model="new_customer"/>
<button ng-click="add_new_customer(new_customer,customers)">Add </button>
</div>
{% endverbatim %}



<h1> List from django</h1>


<ul>
    {% for item  in customers %}
    <li>
{{item.name}} 

  </li>
    {% endfor %}


 </ul>
{% endblock content %}
    