{% extends 'reservation/base.html' %}

{% block scripts %}
  

<script>

   (function() {
      angular.module("hotelreservation.angapp",[])
      .controller('HotelReservation', ['$scope',HotelReservation]) ;


      function HotelReservation($scope) {

         $scope.hotels = [
         {hotel_name : "Retz Carlton", hotel_city : "Casa"},
         {hotel_name :"Sheraton", hotel_city:"Rabat"}
         ];
      }

   })();

</script>
{% endblock  %}


{% block title %}
Hotels
   {% endblock title %}

{% block content %}

 
<div ng-app ="hotelreservation.angapp">

   
   {% verbatim %}
      
      
   <div ng-controller ="HotelReservation">

      <ul>

         <div ng-repeat="hotel in hotels">

            <li>
               {{hotel.hotel_name}}
            </li>

         </div>

      </ul>

   </div>
   {% endverbatim %}

</div>


  <ul>
     {% for item  in hotels %}
     <li>
{{item.hotel_name}} 

   </li>
     {% endfor %}


  </ul>
{% endblock content %}
    