{% extends 'reservation/base.html' %}

{% block scripts %}
  

<script>

   (function() {
      angular.module("hotelreservation.angapp",[])
      .controller('HotelReservation', ['$scope',HotelReservation]) ;


      function HotelReservation($scope) {

      }
      
   })();

</script>
{% endblock  %}


{% block title %}
Hotels
   {% endblock title %}

{% block content %}
  <ul>
     {% for item  in hotels %}
     <li>
{{item.hotel_name}} 

   </li>
     {% endfor %}


  </ul>
{% endblock content %}
    