{% extends 'reservation/base.html' %}

{% block scripts %}
  

<script>

   (function() {
      angular.module("hotelreservation.angapp",[]).
      controller("HotelReservation", ["$scope",HotelReservation]) ;


      function HotelReservation($scope) {

         $scope.hotels = [
         {hotel_name : "Retz Carlton", hotel_city : "Casa"},
         {hotel_name : "Sheraton", hotel_city:"Rabat"},
         ];
         $scope.add_new_hotel = function(new_hotel) {

            var hotel = { hotel_name : new_hotel, hotel_city :"Any city"} ;
            $scope.hotels.push(hotel) ;

         } ;
      }

   })();

</script>
{% endblock scripts  %}


{% block title %}
Hotels
   {% endblock title %}

{% block content %}

 
<div ng-app="hotelreservation.angapp">

   
   {% verbatim %}
      
      
   <div ng-controller="HotelReservation">
      <h1> List from angular</h1>

      <ul>

         <div ng-repeat="hotel in hotels">

            <li>
               {{hotel.hotel_name}}
            </li>

         </div>

      </ul>
<input type="text" ng-model="new_hotel"/>
<button ng-click="add_new_hotel(new_hotel)">Add </button>
   </div>
   {% endverbatim %}

</div>

<h1> List from django</h1>
  <ul>
     {% for item  in hotels %}
     <li>
{{item.hotel_name}} 

   </li>
     {% endfor %}


  </ul>
{% endblock content %}
    